* {
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: rgb(183, 187, 209);
    padding: 30px;
}

.logo{
    width: 100px;
    height: 60px;
    margin-left : 15px;
}

.text-center{
    padding: 30px;
    font-weight: 700;
}

.subt{
    padding-left: 11%;
}

#registerform{
    width: 30% auto;
}

.bi-asterisk{
    color: red;
    font-size: 8px;
    vertical-align: top;
    
}

.input {

    border-radius: 10px;
    width: 30%;
    background-color: rgb(221, 217, 217);
    
    
}

#comentarios{
    margin-top: 20px;
   
}

button{
    margin-top: 12px;
    background-color: rgb(221, 217, 217);

}

#footer{
    background-color: rgb(183, 187, 209);
}

#logo{
    font-size: #212529;
}






